body,
body * {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.page-section {
    padding: 48px 100px;
    display: flex;
    justify-content: center;
}

.header,
.section-1,
.footer {
    background-color: #1F2937;
    color: #f9faf8
}

.header,
nav ul {
    display: flex;
    align-items: center;
}

.header {
    padding: 16px 100px;
    justify-content: space-between;
}

nav ul {
    gap: 16px;
}

.header-logo-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;

}

.header-link-text,
.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.section-1 {
    gap: 16px;
}

.section-1 * {
    flex: 1 1 auto;
    max-width: 500px;
    height: auto;
}

.section-1 a {
    color: #3882f6;
    text-decoration: underline;
}

.hero-container * {
    margin: 8px 0;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}

button,
.call-to-action-container {
    background-color: #3882f6;
    color: #f9faf8;

}

button {
    border: none;
    border-radius: 4px;
    padding: 4px 16px;
}

img {
    border-radius: 8px;
}

.section-2 {
    align-items: center;
    flex-direction: column;
}

.section-2 h1 {
    margin: 0 0 24px 0;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1200px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    margin: 16px;
}

.gallery-item-text {
    text-align: center;

}

.placeholder-box {
    width: 175px;
    height: 175px;
    border: #3882f6 2px solid;
    border-radius: 8px;
    margin: 8px 0;
}

.section-3 {
    display: block;
    background-color: #e5e7eb;
}

.quote-container {
    margin: 0 15vw;
}

.quote-text {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
}

.quote-attribute {
    text-align: right;
    font-weight: 900;
    font-size: 16px;
}

.section-4 {
    display: block;
}

.call-to-action-container {
    padding: 32px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    gap: 48px;
}

.button-wrapper {
    flex: none;
}

.button-2 {
    border: 2px solid #f9faf8;
}

.footer {
    padding: 32px 200px;
    text-align: center;
}